# Test

There are some test code to play with TuShare

#### 新版借口调用方法：

https://tushare.pro/document/1?doc_id=131

In [1]:
import tushare as ts
ts.set_token('22b0f58e7705649a537df6dc51729449411637f0636557d479a84aa8')

In [2]:
# 初始化
pro = ts.pro_api()

#### API文档
https://tushare.pro/document/2

In [5]:
# 获取一个股票某一段时间的数据
df = pro.daily(ts_code='000001.SZ', start_date='20130701', end_date='20130718')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20130718,10.08,10.18,9.78,9.82,10.14,-0.32,-3.16,806687.22,7.989828e+05
1,000001.SZ,20130717,10.37,10.46,10.10,10.14,10.38,-0.24,-2.31,673688.50,6.917501e+05
2,000001.SZ,20130716,10.35,10.44,10.14,10.38,10.51,-0.13,-1.24,1016227.60,1.045500e+06
3,000001.SZ,20130715,10.50,10.76,10.04,10.51,10.34,0.17,1.64,1341659.41,1.397980e+06
4,000001.SZ,20130712,10.50,10.84,10.26,10.34,10.34,0.00,0.00,2118543.92,2.237236e+06

In [6]:
# 获取某一天的所有股票的数据
df = pro.daily(trade_date='20180810')
df.head(20)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20180810,9.30,9.32,9.16,9.23,9.29,-0.06,-0.6459,424168.36,391366.341
1,000002.SZ,20180810,23.00,24.07,22.93,23.18,22.48,0.70,3.1139,1201163.03,2820091.738
2,000004.SZ,20180810,18.39,18.75,18.03,18.27,18.85,-0.58,-3.0769,17253.09,31617.673
3,000005.SZ,20180810,3.05,3.14,3.02,3.08,3.06,0.02,0.6536,56844.76,17559.883
4,000006.SZ,20180810,5.61,5.93,5.61,5.79,5.60,0.19,3.3929,151639.23,87710.639
5,000007.SZ,20180810,13.01,13.49,13.01,13.33,13.16,0.17,1.2918,8694.50,11554.587
6,000008.SZ,20180810,3.99,4.07,3.89,3.95,4.17,-0.22,-5.2758,787934.71,313942.532
7,000009.SZ,20180810,4.84,4.85,4.78,4.83,4.80,0.03,0.6250,70069.85,33762.124
8,000010.SZ,20180810,4.54,4.61,4.51,4.54,4.55,-0.01,-0.2198,19711.83,8955.120
9,000011.SZ,20180810,10.30,11.37,10.30,11.37,10.34,1.03,9.9613,54925.00,61010.333
10,000012.SZ,20180810,5.10,5.10,5.02,5.07,5.09,-0.02,-0.3929,60035.55,30368.328
11,000014.SZ,20180810,10.44,11.51,10.41,11.24,10.46,0.78,7.4570,173339.17,195020.423
12,000016.SZ,20180810,4.40,4.47,4.40,4.44,4.43,0.01,0.2257,54513.80,24171.059
13,000017.SZ,20180810,4.24,4.50,4.16,4.17,4.24,-0.07,-1.6509,205193.18,88137.835
14,000018.SZ,20180810,3.28,3.34,3.26,3.30,3.31,-0.01,-0.3021,148351.33,48942.663
15,000019.SZ,20180810,9.20,9.80,9.18,9.45,9.25,0.20,2.1622,139924.54,133462.663
16,000020.SZ,20180810,12.38,12.99,12.35,12.63,12.42,0.21,1.6908,21739.15,27733.972
17,000021.SZ,20180810,6.55,6.59,6.50,6.57,6.57,0.00,0.0000,64270.98,42090.228
18,000022.SZ,20180810,18.67,19.50,18.43,19.50,18.72,0.78,4.1667,58377.79,111897.991
19,000023.SZ,20180810,11.54,12.20,11.54,11.82,11.66,0.16,1.3722,23272.01,27873.367

In [ ]:
ts_code	str	Y	证券代码
pro_api	str	N	pro版api对象
start_date	str	N	开始日期 (格式：YYYYMMDD)
end_date	str	N	结束日期 (格式：YYYYMMDD)
asset	str	Y	资产类别：E股票 I沪深指数 C数字货币 FT期货 FD基金 O期权，默认E
adj	str	N	复权类型(只针对股票)：None未复权 qfq前复权 hfq后复权 , 默认None
freq	str	Y	数据频度 ：1MIN表示1分钟（1/5/15/30/60分钟） D日线 ，默认D，包括指数在内的分钟数据已经定向开放，有需求的用户请在QQ群私信群主。
ma	list	N	均线，支持任意合理int数值
factors	list	N	股票因子（asset='E'有效）支持 tor换手率 vr量比

In [9]:
data = ts.pro_bar(pro_api=pro, ts_code='601988.SH', asset='E', start_date='20190218', end_date='20190218',freq='1MIN')

local variable 'df' referenced before assignment

In [19]:
data = ts.pro_bar(pro_api=pro, ts_code='601988.SH', adj='qfq', start_date='20181011', end_date='20181011')

In [20]:
data.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,,
20181011,601988.SH,20181011,3.54,3.56,3.46,3.5,3.6,-0.1,NaN,2086083.61,734706.491